.imagen {
  background-image: url(../../../assets/img/spiderwebs-minimalism-digital-art-artwork-wallpaper-preview.jpg);
}
@font-face {
  font-family: 'Spidey';
  src: url('../../../assets/font/The-Amazing-Spider-Man.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#fuente4{
  font-family: 'Spidey';
}

#fuente5{
  font-family: 'Spidey';
}