<div class="relative h-64 bg-hero-image bg-cover bg-center flex flex-col justify-center items-center">
  <h1 id="letra" class="text-center text-8xl text-red-700 pb-10 pt-10 font-bold uppercase tracking-widest">Marvel
    Heroes</h1>
  <nav class="flex justify-center space-x-5">
    <a class="bg-red-700 hover:bg-yellow-700 text-white font-bold py-3 px-8 rounded transition-colors duration-300"
      href="#">Dashboard</a>
    <a class="bg-red-700 hover:bg-yellow-700 text-white font-bold py-3 px-8 rounded transition-colors duration-300"
      href="#">Heroes</a>
  </nav>
</div>

<router-outlet></router-outlet>
<app-messages></app-messages>