/* AppComponent's private CSS styles */
@font-face {
  font-family: 'Marvel';
  src: url('https://fonts.googleapis.com/css2?family=Marvel&display=swap') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#letra {
  font-family: 'Marvel', sans-serif;
}
.div-imagen-fondo {
  background-image: url('https://i.imgur.com/WaBlVfJ.jpg');
}