<div class="div-imagen-fondo h-64 bg-opacity-60">
<h1 id="fuente" class="bg-transparent text-center text-9xl text-red-700 pb-10 pt-10">MARVEL HEROES</h1>
<nav class="items-center justify-center text-center">
  <a class="bg-red-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mr-5 mt-10" routerLink="/dashboard">Dashboard</a>
  <a class="bg-red-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-5 mt-10" routerLink="/heroes">Heroes</a>
</nav>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>
