<app-hero-search></app-hero-search>
<div class="bg-black">
  <h2 id="fuente" class="text-center text-3xl text-white pt-5 pb-5">MY HEROES</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 max-w-screen-xl mx-auto px-6">
    <a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}"
      class="block h-full group relative rounded overflow-hidden shadow hover:shadow-xl duration-300 bg-gray-800">
      <img class="object-cover w-full h-full transform group-hover:scale-110 transition duration-300"
        src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}" alt="{{ hero.name }}">
      <div
        class="absolute bottom-0 left-0 w-full h-full bg-gradient-to-t from-gray-800 to-transparent p-4 transform group-hover:translate-y-0 transition duration-300">
        <h3 class="text-white text-lg font-bold">{{ hero.name }}</h3>
        <p class="text-gray-400 text-sm">{{ hero.description }}</p>
      </div>
    </a>
  </div>
</div>