<app-hero-search></app-hero-search>
<div class="heroes-menu heroes grid grid-cols-4  bg-black">
  <a *ngFor="let hero of heroes"
      routerLink="/detail/{{hero.id}}">
      
      <div class="grayscale hover:ease-in duration-300 hover:grayscale-0 hover:scale-105 hover:contrast-125 flex justify-center items-center bg-no-repeat w-full bg-center bg-cover h-72 sm:h-80 md:h-96 mb-4 rounded" style="background-image: url('{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}'); ">
        <p class="text-2xl text-white bg-orange-600/80 pt-2 pl-1 pr-1">{{hero.name}}</p></div>
      
  </a>
</div>

