@font-face {
  font-family: 'Open Sans';
  src: url('../../../assets/font/AVENGEANCE-HEROIC-AVENGER.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#fuente2{
  font-family: 'Open Sans';
}