@font-face {
  font-family: 'fantasy';
  src: url('../../../assets/font/AVENGEANCE-HEROIC-AVENGER.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#busqueda{
  font-family: 'fantasy';
}